<div>
  <%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-success text-light' %>
  <%= link_to 'Back', groups_path, class: 'btn btn-primary text-light' %>
 <%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-light' %>
</div>
