<div>
  <%= link_to 'Show', group_path(@obj), class: 'btn btn-success text-light' %>
  <%= link_to 'Edit', edit_group_path(@obj), class: 'btn btn-primary text-light' %>
  <%= link_to 'Delete', @obj, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-light' %>
</div>