<h1 class="text-center">New Group</h1>

<%= render 'form', group: @group %>

<p class="text-center">You can visit <a href="https://fontawesome.com/">Font Awesome </a> and upload the icon you want.</p>
