  <div class="card-body">
    <h5><%= link_to 'These are my internal transactions', assigned_path %></h5>
  <% @internal_transactions.each do |transaction| %>
    <ul class="list-unstyled">
      <li><%= transaction.name %></li>
    </ul>
  <% end %>
  </div>  


 

