
  <div class="container text-center w-100 h-100">
    <div class="jumbotron text-white">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is home page of the Easy_pay</p>
      <hr class="my-4">
      <p>It organizes your transactions and you can group them with ease.</p>
      <div class="text-center"><%= link_to 'Sign Up', signup_path, class: "btn btn-success btn-lg text-light" %></div>
      <div class="text-center"><%= link_to 'Sign in with GitHub', 'auth/github', class: "btn btn-success btn-lg text-light mt-4" %></div>
    </div>
  </div>