<div class="footer fixed-bottom">
  <footer id="sticky-footer" class="bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to 'EypSrcnUygr', 'https://medium.com/@sercanuygur', class: 'text-white' %> </small>
    </div>
  </footer>
</div>